<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vehicle Information</title>
    <include href="includes/header.htm"></include>
</head>
<body>
<form id="personal" method="post" action="#">
    <div class="container border-0 mt-3">
        <nav class="navbar navbar-dark bg-dark w-100 rounded">
            <a class="navbar-brand" href="{{ @BASE }}">Home</a>
            <div class="text-center">
                <div>
                    <h3 class="text-light">Good Car-Ma</h3>
                </div>
            </div>
        </nav>
        <br>
        <h3>Vehicle Information</h3>
        <hr>

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <label for="vin"><strong>VIN</strong></label>
                    <input type="text" class="form-control" id="vin" name="vin" value="{{ @selectedVIN }}" >
                    <span class="err">
                        <check if="{{ isset(@errors['vin']) }}">
                            {{ @errors['vin'] }}
                        </check>
                    </span>
                </div>
                <div class="col-4">
                    <label for="make"><strong>Make</strong></label><br>
                    <select class="form-control" id="make" name="make">
                        <option value="none">Please select</option><br>
                        <repeat group="{{ @allMakes }}" value="{{ @make}}">
                            <option value="{{ @make }}"
                            <check if="{{ @make == @selectedMake }}" >
                                selected="selected"
                            </check>
                            >{{ ucfirst(@make) }}</option>><br>
                        </repeat>
                    </select>
                    <span class="err">
                        <check if="{{ isset(@errors['make']) }}">
                            {{ @errors['make'] }}
                        </check>
                    </span>
                </div>
                <div class="col-4">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <label for="color"><strong>Color</strong></label><br>
                    <select class="form-control" id="color" name="color">
                        <option value="none">---</option><br>
                        <repeat group="{{ @allColors }}" value="{{ @color}}">
                            <option value="{{ @color }}"
                            <check if="{{ @color == @selectedColor }}" >
                                selected="selected"
                            </check>
                            >{{ ucfirst(@color) }}</option>><br>
                        </repeat>
                    </select>
                    <span class="err">
                        <check if="{{ isset(@errors['color']) }}">
                            {{ @errors['color'] }}
                        </check>
                    </span>
                </div>

                <div class="col-md-4">
                    <label for="model"><strong>Model</strong></label><br>
                    <select class="form-control" id="model" name="model">
                        <option value="none">Please select</option><br>
                        <repeat group="{{ @allModels}}" value="{{ @model}}">
                            <option value="{{ @model }}"
                            <check if="{{ @model == @selectedModel }}" >
                                selected="selected"
                            </check>
                            >{{ ucfirst(@model) }}</option>><br>
                        </repeat>
                    </select>
                    <span class="err">
                        <check if="{{ isset(@errors['model']) }}">
                            {{ @errors['model'] }}
                        </check>
                    </span>
                </div>

                <div class="col-md-4">
                    <label for="year"><strong>Year</strong></label><br>
                    <select class="form-control" id="year" name="year">
                        <option value="none">Please select</option><br>
                        <repeat group="{{ @allYears }}" value="{{ @year}}">
                            <option value="{{ @year }}"
                            <check if="{{ @year == @selectedYear }}" >
                                selected="selected"
                            </check>
                            >{{ ucfirst(@year) }}</option>><br>
                        </repeat>
                    </select>
                    <span class="err">
                        <check if="{{ isset(@errors['year']) }}">
                            {{ @errors['year'] }}
                        </check>
                    </span>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                </div>
            </div>

        </div>
        <br>

        <div class="form-row">
            <div class="form-group text-right col-md-12">
                <button type="submit" class="btn btn-primary" id="button">Next ></button>
            </div>
        </div>
        <include href="includes/footer.html"></include>
    </div>
</form>
</body>
</html>